
Read and Wrtie to SQL lite DB manipulating data using Pandas

In [13]:
import sqlite3
import os
import pandas as pd

Set path fo location of csv file

In [15]:
home = r"c:\Users\cjadmin\Documents\GitHub\OutofBounds\Data"
abs_file_path = os.path.join(home, "Scorecard.csv")

Create Pandas Dataframe based on CSV file content and show sample

In [16]:
df = pd.read_csv(abs_file_path)
df.sample(5)

   Hole,Par,Score
16         17,4,7
4           5,3,4
5           6,5,6
2           3,4,4
14         15,3,5

In [17]:
db = sqlite3.connect("c:/users/cjadmin/Documents/GitHub/OutOfBounds/Data/scorecard.sqlite")
cur = db.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS scores(Hole INT UNIQUE, Par INT, Score INT)''')

print("new changes from 3rd september")

new changes from 3rd september