
Read and Wrtie to SQL lite DB manipulating data using Pandas

In [9]:
import sqlite3 as db
import os
import pandas as pd

Set path fo location of csv file

In [10]:
home = os.path.dirname("C:/Users/cpaul/Documents/GitHub/OutofBounds/Data/")
abs_file_path = os.path.join(home, "Scorecard.csv")

Create Pandas Dataframe based on CSV file content and show sample

In [11]:
df = pd.read_csv(abs_file_path)
df.sample(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hole</th>
      <th>Par</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>5</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

Create a SQLLite connection

In [12]:
db = sqlite3.connect('scorecard.sqlite')

In [15]:
df.to_sql('scorecard', db, if_exists='replace', index=False)

In [24]:
#ToDo Use labels to identify cells easier

TypeError: 'DataFrame' object is not callable