
Read and Wrtie to SQL lite DB manipulating data using Pandas

In [1]:
import sqlite3
import os
import pandas as pd

Set path fo location of csv file

In [9]:
home = os.path.dirname("C:/Users/cpaul/Documents/GitHub/OutofBounds/Data/")
abs_file_path = os.path.join(home, "Scorecard.csv")

Create Pandas Dataframe based on CSV file content ans show sample

In [11]:
df = pd.read_csv(abs_file_path)
df.sample(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hole</th>
      <th>Par</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
db = sqlite3.connect('scorecard.sqlite')
cur = db.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS scores(Hole INT UNIQUE, Par INT, Score INT)''')