
Read and Wrtie to SQL lite DB manipulating data using Pandas

In [1]:
import sqlite3 as db
import os
import pandas as pd

Set path fo location of csv file

In [2]:
home = os.path.dirname("C:/Users/cpaul/Documents/GitHub/OutofBounds/Data/")
abs_file_path = os.path.join(home, "Scorecard.csv")

Create Pandas Dataframe based on CSV file content and show sample

In [3]:
df = pd.read_csv(abs_file_path)
df.sample(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hole,Par,Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1,4,6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9,4,6</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15,3,5</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17,4,7</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13,4,4</td>
    </tr>
  </tbody>
</table>
</div>

Create a SQLLite connection

In [11]:
con = db.connect('scorecard.sqlite')
cur = con.cursor()

In [9]:
df.to_sql('scorecard', cur, if_exists='replace', index=False)

AttributeError: 'sqlite3.Cursor' object has no attribute 'cursor'

In [24]:
#ToDo Use labels to identify cells easier

TypeError: 'DataFrame' object is not callable